@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "YouTube Sans";
  src: url("/fonts/YouTube-Sans-Medium.otf");
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

nav {
  margin-bottom: 30px;
  padding: 19px 16px 16px 16px;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 400;
}

nav ul {
  align-self: center;
}

nav ul a:first-child {
  color: white;
}

nav ul a:not(:last-child) {
  margin-right: 48px;
}

nav ul a:hover {
  color: white;
}

.search-icon {
  fill: #7D7D7D;
  vertical-align: text-bottom;
}

#search:hover .search-icon {
  fill: white;
}

li {
  list-style: none;
}

a {
  color: #7D7D7D;
  text-decoration: none;
}

.profile-pic {
  height: 26px;
  width: 26px;
  border-radius: 100%;
}

.content-wrapper {
  margin: 0 82px;
}

section {
  margin-bottom: 111px;
  display: flex;
  flex-direction: row;
}

.section-title {
  margin-bottom: 32px;
  font-family: YouTube Sans;
  font-weight: 400;
  font-size: 2.1rem;
  letter-spacing: -0.015em;
}

.card {
  margin-right: 26px;
  width: 226px;
}

.square img {
  margin-bottom: 16px;
  border-radius: 4px;
}

.circle img {
  margin-bottom: 16px;
  border-radius: 100%;
}

.square h3, .circle h3 {
  margin-bottom: 3px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.circle h3, .circle p {
  text-align: center;
}
